html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  background: #969696;
}

.header {
  width: 100%;
  background: #FFFFFF;
  height: 123px;
  display: flex;
  align-items: center;
}
.header__wrapper {
  width: 1400px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  width: 70px;
  margin-right: 60px;
  cursor: pointer;
}
.header__nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-bar .nav {
  width: 599.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-bar .nav__item {
  cursor: pointer;
}
.header__nav-bar .nav__item:last-child {
  padding-left: 5px;
  width: 20px;
  height: 20px;
}
.header__nav-bar .nav-icons {
  width: 286px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__nav-bar .nav-icons__icon--second {
  padding-left: 1px;
  padding-top: 1px;
}
.header__nav-bar .nav-icons__icon--therd {
  padding-top: 1px;
  padding-left: 1px;
  width: 25px;
}
.header__nav-bar .nav-icons__icon--fourth {
  margin-left: 2.92px;
  width: 22.09px;
}
.header__nav-bar .nav-icons__item {
  background-color: #F9F9F9;
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 2.5px;
  cursor: pointer;
}
.header__nav-bar .nav-icons__status-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #48A4EB;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  right: 0px;
  top: -1px;
}

.slider {
  width: 100%;
  height: 683px;
  background-color: #F2F2F2;
  position: relative;
}
.slider__wrapper {
  margin: 0 auto;
  position: relative;
  width: 1400px;
  display: flex;
}
.slider__dell-backgraund {
  z-index: 0;
  top: 97.4px;
  position: absolute;
}
.slider .scroll {
  left: -87px;
  top: 405px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: rotate(-90deg);
  width: 200px;
}
.slider .scroll .scroll-wrapper {
  height: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.slider .scroll__title {
  color: #838383;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.slider .scroll__img {
  width: 25px;
  height: 38.5px;
  transform: rotate(90deg);
  margin-right: 24px;
}
.slider .slider-block {
  z-index: 2;
  margin-top: 74px;
  width: 1021px;
  height: 555px;
  margin-left: 130px;
  overflow: hidden;
}
.slider .slider-block__controller {
  width: 69px;
  height: 10px;
}
.slider .slider-block__line {
  display: flex;
}
.slider .slider-block__line .card {
  display: flex;
}
.slider .slider-block__line .card__img {
  width: 557px;
  margin-right: 60px;
}
.slider .slider-block__line .card__wrapper {
  margin-top: 179px;
  width: 426px;
  height: 272px;
  margin-right: -22px;
}
.slider .slider-block__line .card__exposition {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
  margin-bottom: 15px;
}
.slider .slider-block__line .card__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  color: #292D32;
  margin-bottom: 60px;
}
.slider .controller {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  right: 289px;
  bottom: 115px;
}
.slider .controller__button {
  border: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #D0D0D0;
  cursor: pointer;
  transition: 0.6s;
}
.slider .controller__button:hover {
  transform: scale(1.3);
  background-color: rgba(41, 45, 50, 0.662745098);
}
.slider .controller__button--active {
  width: 9px;
  height: 9px;
  background-color: #292D32;
}
.slider .controller__button--active:hover {
  transform: scale(1.3);
  background-color: #292D32;
}
.slider .profitable-offer {
  left: 1151px;
  width: 509px;
  height: 683px;
  background-color: #F9F9F9;
  position: absolute;
  padding-top: 321px;
  padding-left: 40px;
  transition: 0.6s;
  cursor: pointer;
}
.slider .profitable-offer__wrapper {
  width: 181px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.slider .profitable-offer__img {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 509px;
}
.slider .profitable-offer__title {
  font-size: 25px;
  line-height: 32px;
}
.slider .profitable-offer:hover .profitable-offer__arrow-icon {
  transform: scale(1.1);
}

.link {
  height: 55px;
  display: flex;
  align-items: center;
  z-index: 3;
}
.link__button {
  width: 55px;
  height: 55px;
  background: #33A9FF;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  margin-right: 12px;
}
.link__button:hover {
  background: #68c0ff;
}
.link__button:active {
  background: #179eff;
}
.link__button-img {
  padding-top: 2px;
  width: 12.89px;
}
.link__description {
  padding-top: 3px;
  color: #292D32;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.catalog {
  width: 100%;
  background: #FFFFFF;
  height: 1126px;
}
.catalog__wrapper {
  margin: 0 auto;
  padding-top: 164px;
  height: 782px;
  width: 1400px;
  gap: 40px 40px;
  display: flex;
  flex-wrap: wrap;
}
.catalog__description {
  width: 439px;
  height: 311px;
}
.catalog .card {
  background: #F2F2F2;
  border-radius: 20px;
  width: 440px;
  height: 371px;
  color: #292D32;
  line-height: 38px;
  font-size: 25px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.catalog .card--brighter {
  background-color: #F9F9F9;
}
.catalog .card:hover {
  transform: scale(1.02);
  box-shadow: 4px -1px 8px -2px rgba(34, 60, 80, 0.31);
}
.catalog .card__number {
  position: absolute;
  top: 40px;
  left: 40px;
  font-weight: 100;
}
.catalog .card__description {
  margin-left: 40px;
  margin-top: 264px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 67px;
}
.catalog .card__quantity {
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}
.catalog .card__title {
  font-weight: 400;
}
.catalog .card__img {
  position: absolute;
}
.catalog .card__img--first {
  top: -10px;
  left: 12px;
  width: 416px;
}
.catalog .card__img--second {
  top: -21px;
  left: 116px;
  width: 267px;
}
.catalog .card__img--third {
  top: 81px;
  left: 51px;
  width: 337px;
}
.catalog .card__img--fourth {
  top: 59px;
  left: 75px;
  width: 289px;
}
.catalog .card__img--fifth {
  top: 38px;
  left: 87px;
  width: 323px;
}

.description {
  display: flex;
  flex-direction: column;
  padding-right: 51px;
}
.description__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292D32;
  margin-bottom: 29px;
}
.description__exposition {
  font-size: 18px;
  line-height: 27px;
  color: #838383;
  margin-bottom: 46px;
}

.benefits {
  width: 100%;
  height: 962px;
  background: #F2F2F2;
}
.benefits__wrapper {
  position: relative;
  padding-top: 87px;
  width: 1920px;
  margin: 0 auto;
}
.benefits__best-quelity-backgraund {
  position: absolute;
  left: 9px;
  top: 164px;
  z-index: 1;
}
.benefits__description {
  width: 553px;
  margin-top: 96px;
  margin-left: -80px;
}
.benefits__exposition {
  display: flex;
  width: 1562px;
  margin: 0 auto;
}
.benefits__img {
  z-index: 2;
  width: 875px;
}
.benefits .link {
  padding-left: 1px;
}
.benefits .description__title {
  margin-bottom: 38px;
}
.benefits .description__exposition {
  margin-bottom: 40px;
}
.benefits__cards {
  width: 1401px;
  display: flex;
  margin: 0 auto;
  margin-top: 47px;
  gap: 27px;
}
.benefits__cards .card {
  width: 330px;
  height: 289px;
  background-color: #292D32;
  border-radius: 20px;
  position: relative;
  font-family: "Euclid Circular A";
}
.benefits__cards .card:hover {
  background-color: #17191c;
}
.benefits__cards .card__backgraund-img {
  position: absolute;
  right: 0px;
}
.benefits__cards .card__backgraund-img--third {
  top: -3px;
  right: 2px;
}
.benefits__cards .card__backgraund-img--fourth {
  top: -3px;
  right: 2px;
}
.benefits__cards .card__icon-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #343A41;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 31px;
  margin-bottom: 25px;
}
.benefits__cards .card__icon {
  width: 36.11px;
  height: 36.11px;
}
.benefits__cards .card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  width: 280px;
  margin-left: 31px;
  color: #FFFFFF;
  margin-bottom: 13px;
}
.benefits__cards .card__title--first {
  width: 205px;
}
.benefits__cards .card__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  width: 276px;
  margin-left: 30px;
  color: #B7B7B7;
}
.benefits__cards .card__description--fourth {
  width: 210px;
}

.news {
  background: #F5F5F5;
  width: 100%;
}
.news__wrapper {
  width: 1401px;
  margin: 0 auto;
  padding-top: 177px;
  padding-bottom: 526px;
}
.news__description {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.news .description {
  padding-right: 0px;
}
.news .description__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 721px;
}
.news .description__exposition {
  margin-bottom: 69px;
}
.news .link {
  margin-top: 3px;
}
.news .link__description {
  margin-right: 17px;
}
.news .link__button {
  margin-right: 0px;
}
.news__cards {
  gap: 40px 65px;
  display: flex;
  flex-wrap: wrap;
}
.news__cards .card {
  font-family: "Roboto";
  position: relative;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}
.news__cards .card__wrapper {
  width: 415px;
  height: 365px;
  background-image: url("./assets/png/news-backgraund-1.png");
  position: relative;
  border-radius: 45px 0px 0px 0px;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}
.news__cards .card__date {
  overflow: visible;
  top: 65px;
  right: -25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  width: 50px;
  height: 97px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
}
.news__cards .card__day {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #292D32;
  margin-bottom: 3px;
}
.news__cards .card__month {
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  padding-top: 6px;
  line-height: 16px;
  color: #292D32;
}
.news__cards .card__backgraund-img {
  width: 415px;
  height: 259px;
  position: absolute;
  transition: 0.6s;
  cursor: pointer;
}
.news__cards .card__backgraund-img:hover {
  transform: scale(1.1);
}
.news__cards .card__img-part-one {
  top: 219px;
  width: 415px;
  height: 146px;
  position: absolute;
  z-index: 1;
}
.news__cards .card__img-part-two {
  right: 11.91px;
  width: 95.09px;
  height: 36.21px;
  top: 242.5px;
  z-index: 2;
  position: absolute;
}
.news__cards .card__content {
  margin-top: 243px;
  margin-left: 31px;
  position: relative;
  z-index: 3;
  width: 365px;
}
.news__cards .card__title-wrapper {
  margin-right: 0px;
  width: 359px;
  z-index: 3;
  height: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.news__cards .card__title {
  width: 200px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #292D32;
}
.news__cards .card__button {
  width: 66px;
  height: 66px;
  margin-top: -10px;
  border-radius: 50%;
  background: #292D32;
  border: 12px solid #FFFFFF;
  cursor: pointer;
}
.news__cards .card__button:hover {
  background: #3b3e41;
}
.news__cards .card__button:active {
  background: #1f2021;
}
.news__cards .card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #292D32;
}

.about-us {
  width: 100%;
  height: 676px;
  background-color: #EEEEEE;
}
.about-us__wrapper {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}
.about-us__backgraund {
  position: absolute;
  left: 11px;
  top: 199px;
}
.about-us__content {
  width: 1400px;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  display: flex;
  height: 842px;
  overflow: hidden;
  top: -346px;
  left: 0px;
  right: 0px;
}
.about-us__contacts {
  height: 842px;
  width: 700px;
  background-color: #F9F9F9;
}
.about-us .contacts {
  padding-top: 100px;
  padding-left: 100px;
}
.about-us .contacts__decoration-img {
  height: 590.13px;
  top: 141.32px;
  left: 492px;
  position: absolute;
}
.about-us .contacts__header {
  height: 91px;
  width: 473px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 47.17px;
}
.about-us .contacts__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292D32;
}
.about-us .contacts__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #838383;
}
.about-us .contacts__list {
  width: 413px;
  height: 393px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 61px;
}
.about-us .contacts__list .item {
  width: 410px;
  height: 103px;
}
.about-us .contacts__list .item--email .item__info {
  margin-top: 1px;
  padding-left: 57px;
}
.about-us .contacts__list .item__wrapper {
  display: flex;
  align-items: center;
}
.about-us .contacts__list .item__wrapper--email {
  padding-top: 2px;
}
.about-us .contacts__list .item__icon-wrapper {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.about-us .contacts__list .item__icon-wrapper:hover {
  transform: scale(1.1);
}
.about-us .contacts__list .item__icon-wrapper:active {
  transform: scale(0.925);
}
.about-us .contacts__list .item__icon-wrapper--location {
  padding-top: 2px;
  padding-left: 1px;
  margin-right: 17px;
}
.about-us .contacts__list .item__icon-wrapper--mail {
  padding-top: 5px;
  padding-left: 2px;
  margin-right: 18px;
}
.about-us .contacts__list .item__icon-wrapper--tel {
  padding-top: 0px;
  padding-left: 2px;
  margin-right: 18px;
}
.about-us .contacts__list .item__icon:hover {
  transform: scale(1.1);
}
.about-us .contacts__list .item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #838383;
}
.about-us .contacts__list .item__info {
  padding-top: 0px;
  padding-left: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #292D32;
}
.about-us .contacts .social {
  width: 93.71px;
  height: 37.71px;
  display: flex;
  justify-content: space-between;
  margin-left: 3.9px;
}
.about-us .contacts .social__icon {
  transition: 0.4s;
  height: 37.71px;
  cursor: pointer;
}
.about-us .contacts .social__icon:hover {
  transform: scale(1.1);
}
.about-us .contacts .social__icon:active {
  transform: scale(0.925);
}
.about-us .request {
  width: 700px;
  background-color: #292D32;
}
.about-us .request__header {
  height: 89px;
  width: 473px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 67.5px;
}
.about-us .request__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.about-us .request__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.about-us .request__content {
  height: 369.22px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 129px;
  padding-top: 100px;
}
.about-us .request__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 52.75px;
  position: relative;
}
.about-us .request__label {
  font-weight: 300;
  font-size: 18px;
  line-height: 24.06px;
  color: #F2F2F2;
  background-color: #292D32;
  border: 10px solid #292D32;
  border-bottom: 0px;
  z-index: 1;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -20.5px;
}
.about-us .request__label--name {
  left: 13px;
  word-spacing: 1px;
}
.about-us .request__label--tel {
  left: 17px;
  word-spacing: 2px;
}
.about-us .request__label--comment {
  left: 17px;
  letter-spacing: 1px;
  letter-spacing: 0.2px;
}
.about-us .request__input {
  caret-color: rgba(242, 242, 242, 0.5);
  width: 434px;
  height: 59.25px;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  background: rgba(242, 242, 242, 0);
  color: rgba(242, 242, 242, 0.8);
  font-size: 23px;
  padding-left: 16px;
}
.about-us .request__input--comment {
  padding-top: 16px;
  height: 145.25px;
  display: flex;
  flex-wrap: wrap;
  resize: none;
  overflow: hidden;
  margin-bottom: 57px;
}
.about-us .request .link__description {
  color: #FFFFFF;
}

.footer {
  width: 100%;
  background-color: #FFFFFF;
  height: 438px;
}
.footer__wrapper {
  background-color: #FFFFFF;
  width: 1920px;
  margin: 0 auto;
}
.footer__content {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  height: 112px;
  margin-top: 29px;
  padding-right: 10px;
  cursor: pointer;
}
.footer .nav {
  display: flex;
  gap: 180px;
  margin-top: 59px;
  padding-bottom: 60px;
  border-bottom: 1px solid #E5E5E5;
}
.footer .nav__list-wrapper {
  display: flex;
  flex-direction: column;
}
.footer .nav__list-wrapper--second {
  padding-left: 5px;
}
.footer .nav__list-title {
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #292D32;
  margin-bottom: 15px;
}
.footer .nav__list-title--first {
  padding-left: 1px;
}
.footer .nav__list-title--third {
  padding-left: 1px;
}
.footer .nav__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .nav__item {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #292D32;
  letter-spacing: 0.19px;
}
.footer .nav__item:hover {
  color: #000000;
  transform: scale(1.05);
}
.footer .contact-us {
  margin: 0 auto;
  width: 100%;
  height: 139px;
}
.footer .contact-us__item {
  height: 59px;
  display: flex;
  flex-direction: column;
}
.footer .contact-us__item--first {
  margin-right: 154px;
}
.footer .contact-us__item--second {
  margin-right: 153.26px;
}
.footer .contact-us__item--third {
  margin-right: 153.74px;
}
.footer .contact-us__item--third .contact-us__title {
  margin-top: -6px;
  margin-bottom: 12px;
}
.footer .contact-us__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #838383;
  margin-bottom: 11px;
}
.footer .contact-us__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}
.footer .contact-us__description:hover {
  font-weight: 600;
}
.footer .contact-us__list {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .contact-us__list .social {
  margin-top: 7px;
  width: 92.71px;
  height: 37.71px;
  display: flex;
  justify-content: space-between;
}
.footer .contact-us__list .social__icon {
  transition: 0.4s;
}
.footer .contact-us__list .social__icon:hover {
  transform: scale(1.1);
}
.footer .contact-us__list .social__icon:active {
  transform: scale(0.925);
}
.footer .contact-us__list .social__icon:last-child {
  margin-right: -2px;
}/*# sourceMappingURL=styles.css.map */